ion-item h2 {
  font-weight: 500;
}

ion-item p {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

ion-card ion-text p {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 0.9em;
  line-height: 1.4;
}

ion-card ion-text ion-icon {
  font-size: 1.2em;
  flex-shrink: 0;
  margin-top: 2px;
}
