ion-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 12px;
}

ion-card-content h2 {
    font-style: italic;
    color: var(--ion-color-dark);

    line-height: 1.5;
    margin-bottom: 16px;
}

ion-button[color="danger"] {
    margin-top: 12px;
}
