ion-text[color="danger"] {
  display: block;
  padding: 4px 16px;
  font-size: 0.85em;
}

ion-text[color="danger"] small {
  display: flex;
  align-items: center;
  gap: 4px;
}

ion-text[color="danger"] ion-icon {
  font-size: 1em;
}

ion-item-divider {
  font-weight: bold;
  background: var(--ion-color-light);
}

ion-item-sliding ion-item h2 {
  font-style: italic;
}

ion-item-sliding ion-item p {
  font-weight: 500;
  color: var(--ion-color-medium);
}
